<h1>Editing Transporter</h1>

<%= render 'form', transporter: @transporter %>

<hr>
<%= link_to 'Show', company_transporter_path(@company,@transporter) %> |
<%= link_to 'Back', company_transporters_path(@company) %>
<hr>
